.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 0.8rem 2rem;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links a {
  color: #fff;
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-links a.active {
  color: #ff9900;
}

.navbar-links a:hover {
  color: #ff9900;
}


.home-container{
  min-height: 100vh;
}


.footer {
  background-color: #222;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  margin-top: auto;
}

.footer-links a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ff9900;
}

.footer-copy {
  font-size: 0.85rem;
  margin-top: 8px;
}
